<div id="newhome">
    <p class="mt-4">
        sumbit contact for revert back <a href="/contact/create">contact</a>
    </p>
    <p>
        View all contact List <a href="/contact/all">All contact</a>
    </p>
    <p>
        refill/Update your contact info <a href="/contact/edit">Edit contact</a>
    </p>
</div>