<form id="contact" class="form-style" action="/contact/edit/:<%name%>" method="PUT">
    <input type="text" id="name" name="name" placeholder="Your Name" required>
    <input type="email" id="email" name="email" placeholder="Email" required>
    <input type="city" id="city" name="city" placeholder="City" required>
    <input type="phone" id="phone" name="phone" placeholder="phone" required>
    <input type="cv" id="cv" name="cv" placeholder="cv">
    <input type="message" id="message" name="message" placeholder="message" required>
    <input type="submit" value="form updated">
  </form>