#home{
  width: 100%;
}
#newhome{
  border: 1px black;
}

#info{
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
}

#user-name{
  font-size: 2rem;
  padding: 25px;
  color: #303841;
  font-family: 'Courier New', Courier, monospace;
}

#reset button{
  padding: 25px;
  font-size: 1.5rem;
  width: 250px;
  line-height: 2rem;
  font-family: 'Courier New', Courier, monospace;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
table, th, td {
  border: 1px solid black;
}
#reset-form{
  display: none;
}

#reset-form input[type="submit"]{
  width: 200px;
}

@media only screen and (max-width: 800px) {
  #user-name{
    font-size: 1.2rem;
  }
  #reset button{
    font-size: 1rem;
    padding: 30px;
    width: 200px;
  }
}

@media only screen and (max-width: 550px) {
  #user-name{
    font-size: 1.1rem;
  }
  #reset button{
    padding: 30px;
    font-size: 0.9rem;
  }
}
