#container{
  background-color: #EFEFEF; 
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  padding: 25px;
}
#header-content p{
  font-size: 24px; 
  font-weight: bold; 
  text-align: right; 
  color: #2D545E; 
  padding-right: 20px; 
  padding-bottom: 35px; 
  border-radius: 5px;
}
#password-reset-mail{
  font-family: 'Courier New', Courier, monospace; 
  font-size: 20px; 
  font-weight: bold; 
  background-color: #fafafa; 
  color: #E1B382; 
  padding: 25px;
}
#password-reset-mail a{
  color: #303841
}
